{% extends "index.html" %}

{% block title %}
    Your Account Info
{% endblock %}

{% block main %}
<div class="account-cover">
    <div class="account-container">
        <h1>Your Account Info</h1>
        <button id="edit" class="edit" type="button">Edit</button>
        <form id="accountForm" method="POST" action="/account">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{ user_info.username }}" required disabled>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ user_info.email }}" required disabled>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ user_info.name }}" required disabled>
            </div>
            <div class="form-group">
                <label for="grade">Grade:</label>
                <input type="text" id="grade" name="grade" value="{{ user_info.grade }}" required disabled>
            </div>
            <button id="update" type="submit" disabled>Update Details</button>
        </form>
        <div id="message" class="message"></div>
    </div>
</div>
<script src="{{ url_for('static', filename='index.js') }}" defer></script>
{% endblock %}
