{% extends "index.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<section id="home" class="home-wrapper">
</section>

<section id="about">
    <div class="container">
        <h2>Welcome to Spark Tutors!</h2>
        <p>Spark your college journey today by clicking below and getting started to receive your first free one hour session.</p>
        <button" class="btn" type="submit"><a href="/register">Get Started</a></button>
    </div>
    <div class="container">
        <h2>About Us</h2>
        <p>Spark Tutors was founded by students who recently went through the rigorous college process and are currently attending prestigious universities such as the University of Michigan, NYU-STERN, Purdue University, and Cornell University.</p>
    </div>
</section>
    
{% endblock %}