{% extends "index.html" %}

{% block title %}
    Login
{% endblock %}



{% block main %}
    <div class="register-body">
        <div class="first-reg">
            <form action="/login" method="post">
                <h1>Login</h1>
                <div class="reg">
                    <input type="email" placeholder="Email" name="email" autofocus required>
                </div>
                <div class="reg"> 
                    <input type="password" placeholder="Password" required name="password">
                </div>
                <button class="btn" type="submit">Login</button>
                <div class="prev-acc">
                    <p>Dont have an account? <a href="/register">Register</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}