{% extends "index.html" %}

{% block title %}
    What We Offer
{% endblock %}

{% block main %}
    <h2 class="offer-main">At Spark Tutors we offer you much more than just the ordinary college help!</h1>
    <div class="wrap">
            <div class="box">
                <div class="box-det">
                    <img src="../static/sat.webp" alt="Image of SAT test">
                    <h3>SAT Help</h3>
                    <p>We have helped numerous students improve their SAT scores and average a minimum of a 150 point boost in overall scores! We will provide weekly homeworks and mock tests to ensure our students are prepared for their next SAT.</p>
                </div>
            </div>
            <div class="box">
                <div class="box-det">
                    <img src="../static/servlet.png" alt="Common Application Logo">
                    <h3>College Application Help</h3>
                    <p>We provide end to end support in optimizing college applications through helping develop appealing extracurriculars and the entire application process</p>
                </div>
            </div>
            <div class="box">
                <div class="box-det">
                    <img src="../static/essay.webp" alt="Someone trying to think of what to write for an essay">
                    <h3>Essay writing</h3>
                    <p>We will not only help you come up with unique ideas for your college essays but also work through each draft with you to ensure that your final product is completely refined and void of any spelling or punctuation errors.</p>
                </div>
            </div>
    </div>

    
{% endblock %}