{% extends "index.html" %}

{% block title %}
    Plans
{% endblock %}



{% block main %}

<div class="plans-container">
<h1 class="title">Plans and Pricing</h1>
<h2 class="subtitle">Take Advantage of the Summer Sale!</h2> 
<p class="description">Register and discuss with one of our mentors if your having trouble finding which plan best suits your needs.<p>
    <div class="flashcard-container">
        <div class="flashcard"">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <h3>1-on-1 SAT/ACT/PSAT Tutoring:</h3>
                    <ul>
                        <li>Personalized lesson plans.</li>
                        <li>Unlimited Access to full length practice tests.</li>
                        <li>Weekly homework.</li>
                        <li>Weekly mock tests to track progress.</li>
                    </ul>
                    <p><s>$60/hr</s> $45/hr</p>
                    <p>Or</p>
                    <p><s>$1650 for 10 weeks</s> $1200 for 10 weeks</p>
                </div>
            </div>
        </div>
        <div class="flashcard">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <h3 class="essay-guide">College Essay Guidance:</h3>
                    <ul>
                        <li>Expert writing help/guidance.</li>
                        <li>Weekly Check In's.</li>
                        <li>Editing and idea help.</li>
                        <li>Only for Common App Essay.</li>
                    </ul>
                    <p><s>$75/hr</s> $55/hr</p>
                    <p>Or</p>
                    <p><s>$2100 for 10 weeks</s> $1600 for 10 weeks</p>
                </div>
            </div>
        </div>
        <div class="flashcard">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <h3>Complete College Application Mentorship:</h3>
                    <ul>
                        <li>Expert writing help/guidance.</li>
                        <li>Common App and Supplemental Essay help.</li>
                        <li>Only for Common App Essay.</li>
                        <li>End to end guidance on:</li>
                        <ul>
                            <li>Resume improvment</li>
                            <li>Recommendation letters</li>
                            <li>extracurriculars/Internships/Projects/Research</li>
                            <li>Scholarships/Financial Aid</li>
                            <li>Letters of continued interest</li>
                        </ul>
                    </ul>
                    <p><s>$90/hr</s> $65/hr</p>
                    <p>Or</p>
                    <p><s>$2500 for 10 weeks</s> $1950 for 10 weeks</p>
                </div>
            </div>
        </div>
        <div class="flashcard">
            <div class="flashcard-inner">
                <div class="flashcard-front">
                    <h3>Complete College Application Mentorship + 1-on-1 SAT/ACT/PSAT Tutoring:</h3>
                    <ul>
                        <li>All services provided with unlimited access</li>
                        <li>Unlimited access to mentors.</li>
                        <li>End to end support throughout entire application process</li>
                    </ul>
                    <p><s>$120/hr</s> $80/hr</p>
                    <p>Or</p>
                    <p><s>$3250 for 10 weeks</s> $2400 for 10 weeks</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}