{% extends "index.html" %}

{% block title %}
    Register
{% endblock %}



{% block main %}
    <div class="register-body">
        <div class="wrapper">
            <form action="/register" method="post">
                <h1 id="reg-title">Register</h1>
                <div class="reg">
                    <input id="reg1" type="email" placeholder="Email" name="email" autofocus required>
                </div>
                <div  class="reg"> 
                    <input id="reg2" type="password" placeholder="Password" required name=password">
                </div>
                <div " class="reg">
                    <input id="reg3 type="password" placeholder="Confirm Password" required name="confirmation">
                </div>
                <button id="regbtn" class="btn" type="submit" onclick="changeTitle">Register</button>
                <div class="new-acc">
                    <p>Already have an account? <a href="/login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
    <script>


        
    </script>
    
{% endblock %}