{% extends "index.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %}
<div class="schedule-cover">
    <div class="schedule-container">
        <div class="schedule-header">
            <h1>Your Class Schedule</h1>
        </div>
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Tutor</th>
                    <th>Date</th>
                    <th>Zoom Meeting ID</th>
                </tr>
            </thead>
            <tbody>
                {% for key, appointment in schedule.items() %}
                <tr>
                    <td>
                        <form method="POST" action="/schedule">
                            <input type="hidden" name="appointment_id" value="{{ key }}">
                            <button type="submit" class="reschedule-button btn btn-primary">Reschedule</button>
                        </form>
                    </td>
                    <td>{{ appointment.tutor }}</td>
                    <td>{{ appointment.formatted_date }}</td>
                    <td>{{ appointment.zoom_meeting_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
