{% extends "index.html" %}

{% block title %}
    Schedule
{% endblock %}

{% block main %}
<div class="schedule-cover">
    <div class="schedule-container">
        <header class="schedule-header">
            <h1>Your Class Schedule</h1>
        </header>
        <div><button id="reschedule" class="btn btn-primary reschedule">Reschedule</button></div>
        <p class="reschedule-noti" id="reschedule-noti"></p>
        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Tutor</th>
                    <th>Date</th>
                    <th>Zoom Meeting ID</th>
                </tr>
            </thead>
            <tbody>
                {% for appt in schedule %}
                <tr>
                    <th class="reschedule-cell">
                        <div class="button-container">
                            <form method="post" action="/schedule">
                                <input type="hidden" name="appointment_id" value="{{ appt.id }}">
                                <button type="submit" class="btn btn-danger reschedule-button" hidden disabled>Reschedule</button>
                            </form>
                            <span class="tutor-name">Pranav Jithesh</span>
                        </div>
                    </th>
                    <th>{{ appt.date.strftime("%B %d, %Y %I:%M %p") }}</th>
                    <th>452 899 0105</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}