
*{
    margin: 0px;
    padding : 0px
}
nav .navbar-brand{
    color : hsl(206, 100%, 64%);
    margin-left: 20px;
    font-size: xx-large;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  

}    

body{
    background-color: white;
}
.nav-link
{
    color: hsl(206, 100%, 64%); 
}

section {
    padding: 20px;
    margin: 10px;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

#home{
    background-color: #3e5674;
    margin-top: 0px;
    margin-left: 0;
    margin-right: 0px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    font-family: 'Aqua Grotesque', sans-serif;
    font-size : 20px; 
    text-align: center;
    color : whitesmoke;
    font-weight: bold;
}

.home-wrapper{
    background: url('tutor.jpg') no-repeat center center/cover;
    color: white;
    padding-top : 570px;
    background-position: right;
}
.second-line{
    margin-right : 10px;

}
#navbarSupportedContent{
    font-weight : bold;
    font-size: 18px;
}

#about .container p{
    font-family : 'Aqua Grotesque', sans-serif;
    font-size : 25px;
}
.container h2{
    font-weight : bold;
}
.tutor-img{
    width: 100%;
    height : auto;
} 

.container .btn{
    width : 130px;
    height : 40px;
    background-color: #a699e9;
    border: none;
    outline : none;
    border-radius : 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom : 30px;
}
.container .btn a{
    text-decoration : none;
    color : black;
    font-family: 'Aqua Grotesque', sans-serif;
    font-weight : bold;
    font-size : 18px;
}
.container .btn a:hover{
    text-decoration: underline;
    color :hsl(206, 78%, 33%);

}

.register-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(206, 100%, 64%);
}

.reg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-container {
    margin-right: 80px; 
}

.first-reg {
    width: 600px;
    background: white;
    color: black;
    border-radius: 15px;
    padding: 20px 40px;
}

.first-reg h1 {
    font-size: 36px;
    text-align: center;
}

.first-reg form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.reg {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: 10px 0;
}

.reg input {
    width: 80%; 
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    padding: 20px 65px 20px 20px;
}

#regbtn {
    width: 80%;
    height: 40px;
    background-color: #583af2;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: whitesmoke;
    font-weight: 600;
    margin: 20px 0; /* Add vertical margin for spacing */
}

.new-acc {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .svg-container {
        margin-right: 0;
        margin-bottom: 20px; 
    }

    .first-reg {
        width: 100%; 
        padding: 20px; 
    }

    .reg input, #regbtn {
        width: 90%; 
    }
    #remember-checkbox {
        width: 90%; /* Adjust checkbox container width for smaller screens */
    }
}
.reg input::placeholder{
    color : black;

}
.first-reg .btn{

    width : 80%;
    height : 40px;
    background-color: #583af2;
    border: none;
    outline : none;
    border-radius : 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    cursor : pointer;
    color: whitesmoke;
    font-weight: 600;
    margin : 10px 0;
}

.first-reg .btn:hover{
    background-color: rgb(156, 223, 223);
}

.first-reg .prev-acc{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.prev-acc p a{
    text-decoration: none;
} 
.prev-acc p a:hover{
    text-decoration: underline;
}

.first-reg .new-acc{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.new-acc p a{
    text-decoration: none;
} 
.new-acc p a:hover{
    text-decoration: underline;
}
#login-form h1{
    margin-bottom : 20px;
}

.logo-img{
    width : 40px;
    margin-left: 10px;;
}
.tutor-img{
    width : 800px;
    height: 534px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#remember-checkbox {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    margin: 10px 0;
}

#remember-checkbox input {
    margin-right: 10px; 
}

.offer-main{
    text-align: center;
    margin-top: 20px;
    margin-bottom : 30px;
    font-family: 'Aqua Grotesque', sans-serif;
    animation-name : flowIn;
    animation-duration : 1s;
}
.wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:25px;
    margin-top : 50px;
    animation-name : flowIn;
    animation-duration: 1s;

}
@keyframes flowIn{
    from{transform: translateY(300%)}
}

.box{
    width: 325px;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.box img{
    width : 100%;
    height : auto;
    object-fit : auto;
}
.box-det{
    padding:20px;
}
.box-det h3{
    margin-bottom: 10px;
    margin-top : 10px;
    text-align: center;
}

.box-det p{
    font-size: 15px;
    color : black;
    font-family : 'Aqua Grotesque', sans-serif;
    margin-bottom : 20px;
    text-align: center;
}
.contact-main{
    background-image: url("../static/a.png");
    height : 70vh;
    width : 100%;
    text-align: center;
    background-position-x: 50%;
    background-position-y : 10%;
    padding-top : 20px;
    color : whitesmoke;
    font-family : 'Aqua Grotesque', sans-serif;

}
.contact-content{
    background-size: cover;
    min-height: 100vh;
    margin-top: 0px;
}
.contact-container h2{
    text-align: center;
}
#contact{
    justify-content: center;
    align-items: center;
    
}

#contact-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

#contact-form label{
    margin-bottom: 0.5em;
    font-weight: bold;
}

#contact-form input, form textarea {
    margin-bottom: 1em;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact-form button {
    background-color: transparent;
    color: black;
    padding: 1em;
    border-color:#0e0731;
    font-family : 'Aqua Grotesque', sans-serif;
    font-size : 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#contact-form button:hover{
    background-color: rgb(91, 91, 219);
}
.contact-sub{
    text-align: center;
    margin-top: 30px;
}
.contact-sub p{
    font-size: 20px;
    font-family: 'Aqua Grotesque', sans-serif;
    font-weight: bold;
}


.plans-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 120vh;
    margin: 0;
    background-color: hsl(206, 100%, 64%); 
    background-size: cover;

}
.title {
    margin-top : 10px;
    margin-bottom: 20px;
    color: whitesmoke;
    font-family:'Aqua Grotesque', sans-serif;
    font-weight: bolder;
    animation-name: flowIn;
    animation-duration: 1s;
}
.subtitle{
    margin-top: 50px;
    color : whitesmoke;
    font-family:'Aqua Grotesque', sans-serif;
    font-weight: bolder;
    animation-name: flowIn;
    animation-duration: 1s;
}
.description{
    color : whitesmoke;
    font-size : 18px;
    font-family :'Aqua Grotesque', sans-serif;
    font-weight : bolder;
    animation-name: flowIn;
    animation-duration: 1s;

}
.flashcard-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    animation-name: flowIn;
    animation-duration: 1s; 
}
.flashcard {
    width: 370px;
    height: 500px;
    perspective: 1000px;
}
.flashcard-front h3{
    font-size: 20px;
}
.flashcard-front h4{
    font-size: 15px;
    margin-bottom: 10px;
}

.flashcard-front p{
    font-size: 18px;
}


.flashcard-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding : 20px;
}

.flashcard-front {
    background-color: #ffffff;
}

.essay-guide{
    margin-bottom: 20px;
}

.flashcard-front:hover{
    cursor: pointer;
    transform: translateY(-10%);
}
#message1{
    padding-bottom: 50px;
}
.appointment-cover {
    font-family:'Aqua Grotesque', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.appointment-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.appointment-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.appointment-container form {
    display: flex;
    flex-direction: column;
}

.appointment-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.appointment-container input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.appointment-container button {
    padding: 10px;
    background-color: rgb(64, 64, 199);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.appointment-container button:hover {
    background-color: #218838;
}

.appointment-container .confirmation {
    text-align: center;
    margin-top: 20px;
}

.appointment-container .hidden {
    display: none;
}
#restriction-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.schedule-cover {
    background-color: white;
}

.schedule-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedule-header {
    text-align: center;
    margin-bottom: 20px;
}

.schedule-header h1 {
    font-size: 2.5em;
    color: #4a4a4a;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #e1e1e1;
}

.schedule-table thead {
    background-color: #333;
    color: #fff;
}



.schedule-table .event {
    background-color: #ffc107;
    color: #333;
    font-weight: bold;
}

.schedule-table th {
    background-color: #4a4a4a;
    color: white;
}

.account-cover {
    font-family: 'Aqua Grotesque', sans-serif;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.account-container {
    background-color: #7982d8;
    width : 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-container h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.account-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.account-container button:hover {
    background-color: #6866dd;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}
.account-icon{
    margin-right : 20px;
    margin-left : 10px;
}
.edit{
    margin-bottom : 15px;
    font-size : 12px;
}

.reschedule{
    margin-bottom: 10px;
}

.reschedule-cell .button-container {
    display: flex;
    align-items: center;
}

.reschedule-cell .reschedule-button {
    margin-right: 20px; 
}

.reschedule-cell .tutor-name {
    display: inline-block;
}